@model web.Areas.Admin.Models.VMProductGroupModel
@{
    int productGroupId = 0;
}

@if(Model.SelectedProductGroup!=null)
{
    productGroupId = Model.SelectedProductGroup.ProductGroupId;
    foreach (var item in Model.ProductGroup.Where(d => d.TopProductId == productGroupId))
    {
        
            if (Model.ProductGroup.Where(d => d.TopProductId == item.ProductGroupId).Any())
            {
                    <li><a href="#">@item.GroupName</a>
                        <ul>
                
                    @foreach (var itemsub in Model.ProductGroup.Where(d => d.TopProductId == item.ProductGroupId))
                    {
                        
                        if (Model.ProductGroup.Where(d => d.TopProductId == itemsub.ProductGroupId).Any())
                        {
                            <li><a href="#">@itemsub.GroupName</a></li>
                            <ul>
                                @{
                                    Model.SelectedProductGroup = itemsub;
                                    Html.RenderPartial("_submenusitemap", Model);
                                }
                             </ul>
                        }
                        else
                        {
                            <li><a href="/urunler/@itemsub.ProductGroupId/@item.PageSlug">@itemsub.GroupName</a></li>
                        }
                    }
                        </ul>
                    </li>            
            }
            else
            {
                <li><a href="/urunler/@item.ProductGroupId/@item.PageSlug">@item.GroupName</a></li>  
            }
         
    }
}
else
{
    foreach (var item in Model.ProductGroup.Where(d=>d.TopProductId == 1))
    {
            if (Model.ProductGroup.Where(d => d.TopProductId == item.ProductGroupId).Any())
            { 
                 <div class="col-md-3 noPadding">
                    <h3>@item.GroupName</h3>
                     <ul>
                        @{
                            Model.SelectedProductGroup = item;
                            Html.RenderPartial("_submenusitemap", Model);
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="col-md-3 noPadding">
                    <h3>@item.GroupName</h3>
                </div>
            }
                
    }
}
